body {
    background-color: rgb(43, 170, 170);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
}

button {
    width: 256px;
    height: 256px;
    border-radius: 20px;
    background-color: rgb(10, 10, 10); 
    border-color: rgb(86, 113, 233);
    margin-bottom: 30px;
}

#container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 35px;
}

div {
    flex:auto;
    text-align: center;
}

#rock {
    background-image: url(rock1.png);
}

#paper {
    background-image: url(paper1.png);
}

#scissors {
    background-image: url(scissors1.png);
}

div {
    color: rgb(17, 17, 17);
}

#title {
    font-size: 50px;
    margin-bottom: 35px;
    margin-top: 35px;
}
